<section class="maincontainer">
<section class="maincontainer">
  <section class="pagecontainer">
    <h2>Editar Usuario</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <div>Nombre<br />
      <%= f.text_field :name, autocomplete: true, required: true %></div>

      <div>Apellido<br />
      <%= f.text_field :last_name, autocomplete: true, required: true %></div>

      <div>Telefono<br />
      <%= f.text_field :phone, autocomplete: true, required: true %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div>Contraseña <i>(Deje en blanco si no quiere cambiar su contraseña)</i><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div>Confirmar contraseña<br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div>Contraseña actual <i>(Necesitamos tu contraseña actual para guardar los cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %></div>

      <div><%= f.submit "Actualizar", :class => "button" %></div>
    <% end %>
  </section>
  <section class="pagecontainer">

    <h3>Cancelar mi cuenta</h3>

    <p>No esta satisfecho? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Esta seguro?" }, method: :delete %></p>

    <%= link_to "Atras", :back %>
  </section>
</section>
