<section class="maincontainer">
  <section class="pagecontainer">
    <h2>Registrarse</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, required: true %></div>

      <div>Nombre<br />
      <%= f.text_field :name, autocomplete: true, required: true %></div>

      <div>Apellido<br />
      <%= f.text_field :last_name, autocomplete: true, required: true %></div>

      <div>Telefono<br />
      <%= f.text_field :phone, autocomplete: true, required: true %></div>

      <div>Contraseña<br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div>Confirmar contraseña<br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div>
        Terminos y Condiciones: <br>
        <textarea  readonly="yes" style="height: 200px">
         <%= render "legal" %>
        </textarea>
      </div>
      <div>
        <label><input type="checkbox" name="checkbox" value="value" required>  Aceptar Reglas Y Condiciones</label>
      </div>

      <div><%= f.submit "Registrarse", :class => "button" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </section>
</section>
