<div class="using-grid grid">
<div class="unit three-quarters">
  <div class="sidebarbox-title">
    <h3>Edit your result</h3>
  </div>
  <%= form_for [@contest, @entry] do |f| %>
    <!-- TABLE -->
    <div class="fixture-row">
      <div class="fixture-row-left">
        <%= @entry.team_a_name %>
        <div><%= f.number_field :team_a_score, :class => 'input-field-custom' %></div>
      </div>
      <div class="fixture-row-right">
        <div><%= f.number_field :team_b_score, :class => 'input-field-custom' %></div>
        <%= @entry.team_b_name %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit 'Submit Results', :class => 'button expand submit-results' %>
    </div>
  <% end %>
</div>
</div>
