Felicitaciones <b><%= @user.name %></b>.!! acerto el resultado!<br>
===================================================================<br>
<br>
Su acierto para el partido: "<%= @game.team_a_name %>: <%= @game.team_a_result %>-<%= @game.team_b_result %> :<%= @game.team_b_name %>" fue correcto!,
El siguiente numero le fue asignado para el SORTEO FINAL: #<%= @raffle_number %>, el sorteo sera realizado al final del Mundial y el ganador sera notificado por email!
<br>
<br>
Gracias por participar!
<br>
<a href="www.apostaryapostar.com">ApostaryApostar.com</a>
