<%= form_for @contest do |f| %>
  <% @games.each do |game| %>
    <% unless current_user.entries.find_by game_id: game.id %>
      <%= f.fields_for :entries, Entry.new do |entry| %>
        <% @show_submit = true %>
        <%= entry.hidden_field :game_id, :value => game.id %>
        <%= entry.hidden_field :user_id, :value => current_user.id %>
        <div class="games">
          <div class="field">
            <p><%= game.team_a_name %></p>
            <%= entry.hidden_field :team_a_name, :value => game.team_a_name %>
          </div>
          <div class="field">
            <%= entry.number_field :team_a_score, :class => 'number-field' %>
          </div>
          <div class="dash">
            <p>-</p>
          </div>
          <div class="field">
            <%= entry.number_field :team_b_score, :class => 'number-field' %>
          </div>
          <div class="field">
            <p><%= game.team_b_name %></p>
            <%= entry.hidden_field :team_b_name, :value => game.team_b_name %>
          </div>
        </div>
        <div class="clear-both"></div>
      <% end %>
    <% end %>
  <% end %>
  <% if @show_submit %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
