 <%= form_for @contest do |f| %>

 <% @games.each do |game| %>
  <%= f.fields_for :entries, Entry.new do |entry| %>
    <div class="games">
      <div class="field">
        <p><%= game.team_a_name %></p>
        <%= entry.hidden_field :team_a_name, :value => game.team_a_name %>
      </div>

      <div class="field">
        <%= entry.number_field :team_a_score %>
      </div>
      <div class="dash">
        <p>-</p>
      </div>

      <div class="field">
        <%= entry.number_field :team_b_score %>
      </div>

      <div class="field">
        <p><%= game.team_b_name %></p>
        <%= entry.hidden_field :team_b_name, :value => game.team_b_name %>
      </div>
    </div>
    <div class="clear-both"></div>
  <% end %>
  <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
