<div class="using-grid grid">
<div class="unit three-quarters">
  <div class="sidebarbox-title">
    <h3>Proximos Partidos</h3>
  </div>
  <%= form_for @contest do |f| %>
    <% @games.each do |game| %>
      <%= f.fields_for :entries, Entry.new do |entry| %>
        <% @show_submit = true %>
        <%= entry.hidden_field :game_id, :value => game.id %>
        <%= entry.hidden_field :user_id, :value => current_user.id %>
          <!-- TABLE -->
          <div class="fixture-row">
            <div class="fixture-row-left">
              <%= game.team_a_name %>
              <%= entry.hidden_field :team_a_name, :value => game.team_a_name %>
              <div><%= entry.number_field :team_a_score, :class => 'input-field-custom' %></div>
            </div>
            <div class="fixture-row-right">
              <div><%= entry.number_field :team_b_score, :class => 'input-field-custom' %></div>
              <%= game.team_b_name %>
              <%= entry.hidden_field :team_b_name, :value => game.team_b_name %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if @show_submit %>
        <div class="actions">
          <%= f.submit 'Submit Results', :class => 'button expand submit-results' %>
        </div>
    <% end %>
  <% end %>
</div>
</div>
