  <!-- FLEXSLIDER -->
  <section class="flex-wrapper">
    <div id="slider" class="flexslider">
      <ul class="slides">
        <li>
          <div class="flex-title">
            <h3>¡Gane la camiseta de su sueño!</h3>
            <p>Puede ganar gratis la camiseta firmada por Messi o Neymar. Cuantos mas resultados aciertas, mas chances tienes de ganar!</p>
            <span class="call-2-action"><%= link_to("Apueste ya!", contest_path(@contests.last)) %></span>
          </div>
          <img src="<%= asset_path('messineymar.jpg') %>" alt="" />
        </li>
        <li>
          <div class="flex-title">
            <h3>¡Participe gratis y gane!</h3>
            <p>Todos los partidos del mundial seran agregados, <span class="bold">entra todos los dias!!! </span> y por cada acierto tendras una chance mas de ganar</p>
            <span class="call-2-action"><%= link_to("Apueste ya!", contest_path(@contests.last)) %></span>
          </div>
          <img src="<%= asset_path('large3.jpg') %>" alt="" />
        </li>
      </ul>
    </div>
  </section>
  <div class="clear"></div>
  <!-- FIXTURE TITLE -->
  <% unless @next_games.empty? %>
    <div class="scores-title">Proximos partidos</div>

  <!-- FIXTURE SLIDER -->
    <section class="transparent-bg">
      <div id="fixture">
        <% @next_games.each do |game| %>
          <div class="slide-content">
            <div class="match-results">
              <span><%= game.team_a_name %></span>
              <span class="score">? - ?</span>
              <span><%= game.team_b_name %></span>
            </div>
            <div class="match-place">
              <span><%= game.game_date.strftime("%B %d, %Y @ %H:%M hs") %></span>
              <span class="red"><%= link_to("Apueste ya!", contest_path(game.contest)) %></span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
    </section>
  <% end %>
  <!-- PAGE CONTAINER -->
  <section class="pagecontainer">
    <!-- LEFT CONTAINER -->
    <section class="leftcontainer">
      <h1><a name="presentacion" id="presentacion"></a>Como funciona el concurso</h1>
      <hr/>

      <!-- POST -->
      <article class="post">
        <figure>
          <iframe width="100%" height="350" src="//www.youtube.com/embed/cLingdqqUr8" frameborder="0" allowfullscreen></iframe>
        </figure>
        <%= link_to(new_user_registration_path, :class => "call-to-action") do %>
          <div class="call-to-action">Registrese Ya!</div>
        <% end %>
      </article>
      <hr/>
      <div class="sidebarbox">
      <% unless @media.empty? %>
        <div class="sidebarbox-title">
          <h3>Resumenes de Partidos</h3>
        </div>
        <!-- GALLERY -->
          <ul class="team-gallery">
            <% @media.each do |link| %>
              <% if link.photo %>
                <li>
                  <a class="clb-photo" href="<%= link.url.html_safe%>">
                    <img src= "<%= link.url.html_safe%>" alt="" />
                  </a>
                </li>
              <% elsif link.video %>
                <li>
                  <a class="clb-iframe" href="https://www.youtube.com/v/<%= link.url.html_safe %>">
                    <img src="http://img.youtube.com/vi/<%= link.url.html_safe%>/0.jpg" alt="" />
                  </a>
                <li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </section>
    <!-- RIGHT CONTAINER -->
    <section class="rightcontainer">
      <!-- SIDEBAR BOX -->

      <!-- SIDEBAR BOX -->
      <!-- <div class="sidebarbox">
      </div> -->

      <!-- SIDEBAR BOX -->
      <% unless @latest_scores.empty? %>
        <div class="sidebarbox">
          <div class="sidebarbox-title">
            <h3>Ultimos resultados</h3>
          </div>
          <!-- TABLE -->
          <div class="fixture-row">
            <% @latest_scores.each do |game| %>
              <%= link_to(contest_games_path(game.contest)) do %>
                <div class="fixture-row-left"><%= game.team_a_name %>
                  <div><%= game.team_a_result %></div>
                </div>
                <div class="fixture-row-right">
                  <div><%= game.team_b_result %></div><%= game.team_b_name %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="sidebarbox">
        <% unless @comments.empty? %>
          <h3>Ultimos Comentarios</h3>
          <p>(Para comentar tiene que registrarse)</p>
          <% @comments.reverse.each do |comment| %>
            <div class="comments">
              <p class="meta">
                <a href="#"><%= comment.user.name + "." + comment.user.last_name[0] %></a> <span class="date">hace: <%= time_ago_in_words(comment.created_at) %></span>
              </p>
              <div class="comments_content">
                <p class="comment-home"><%= comment.body %></p>
                <%= link_to "Comentar",(contest_games_path(comment.contest)), :class => "reply" %>
                <div class="clr"></div>
                <div class="reply_icon"></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- SIDEBAR BOX -->
    </section>

