  <!-- FLEXSLIDER -->
  <section class="flex-wrapper">
    <div id="slider" class="flexslider">
      <ul class="slides">
        <li>
          <div class="flex-title">
            <h3>¡Participe y gane!</h3>
            <p>En el mundial 2014 que se celebra en Brasil puede ganar de forma gratuita un montón de regalos solo precisa acertar los resultados de los partidos.</p>
            <span class="call-2-action"><%= link_to("Apueste ya!", contest_path(:id => "12")) %></span>
          </div>
          <img src="<%= asset_path('large3.jpg') %>" alt="" />                        </li>
        <li>
          <div class="flex-title">
            <h3>¡Gane la camiseta de Messi!</h3>
            <p>Es tan facil como apostar gratis y acertar los resultados. Regístrese gratuitamente en nuestro website y realize las apuestas.</p>
            <span class="call-2-action"><%= link_to("Apueste ya!", contest_path(:id => "12")) %></span>
          </div>
          <img src="<%= asset_path('large2.jpg') %>" alt="" />                        </li>
        <li>
          <div class="flex-title">
            <h3>¡Gane la camiseta de Ronaldo!</h3>
            <p>Puede ganar gratis la camiseta firmada por Cristiano Ronaldo. Es solo acertar los resultados de los partidos del mundial de Brasil de 2014.                      </p>
            <span class="call-2-action"><%= link_to("Apueste ya!", contest_path(:id => "12")) %></span>
          </div>
          <img src="<%= asset_path('large1.jpg') %>" alt="" />                        </li>
      </ul>
    </div>
  </section>
  <div class="clear"></div>
  <!-- FIXTURE TITLE -->
  <% unless @next_games.empty? %>
    <div class="scores-title">Próximos partidos</div>

  <!-- FIXTURE SLIDER -->
    <section class="transparent-bg">
      <div id="fixture">
        <% @next_games.each do |game| %>
          <div class="slide-content">
            <div class="match-results">
              <span><%= game.team_a_name %></span>
              <span class="score">? - ?</span>
              <span><%= game.team_b_name %></span>
            </div>
            <div class="match-place">
              <span><%= game.game_date.strftime("%B %d, %Y @ %H:%M hs") %></span>
              <span class="red"><%= link_to("Apueste ya!", contest_path(game.contest)) %></span>
            </div>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
    </section>
  <% end %>
  <!-- PAGE CONTAINER -->
  <section class="pagecontainer">
    <!-- LEFT CONTAINER -->
    <section class="leftcontainer">
      <h1><a name="presentacion" id="presentacion"></a>Como funciona el concurso</h1>
      <hr/>

      <!-- POST -->
      <article class="post">
        <figure>
          <iframe width="560" height="315" src="//www.youtube.com/embed/cLingdqqUr8" frameborder="0" allowfullscreen></iframe>
        </figure>
      </article>
      <hr/>
      <div class="sidebarbox">
        <div class="sidebarbox-title">
          <h3>Galería de fotos</h3>
        </div>
        <!-- GALLERY -->
        <ul class="team-gallery">
          <li>
            <a class="clb-photo" href="<%= asset_path('l1.jpg') %>">
              <img src="<%= asset_path( 'logo.jpg' ) %>" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-iframe" href="http://www.youtube.com/embed/1iIZeIy7TqM">
              <img src="<%= asset_path( 'logo.jpg' ) %>" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-photo" href="images/photos/l1.jpg">
              <img src="<%= asset_path( 'logo.jpg' ) %>" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-iframe" href="http://www.dailymotion.com/embed/video/x143vp2">
              <img src="<%= asset_path( 'logo.jpg' ) %>" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-photo" href="images/photos/l1.jpg">
              <img src="<%= asset_path( 'logo.jpg' ) %>" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-link" href="http://www.themeforest.com">
              <img src="<%= asset_path( 'logo.jpg' ) %>" alt="" />                                </a>                            </li>
        </ul>
                  </div>    </section>
    <!-- RIGHT CONTAINER -->
    <section class="rightcontainer">
      <!-- SIDEBAR BOX -->

      <!-- SIDEBAR BOX -->
      <!-- <div class="sidebarbox">
      </div> -->

      <!-- SIDEBAR BOX -->
      <% unless @latest_scores.empty? %>
        <div class="sidebarbox">
          <div class="sidebarbox-title">
            <h3>Últimos resultados</h3>
          </div>
          <!-- TABLE -->
          <div class="fixture-row">
            <% @latest_scores.each do |game| %>
              <%= link_to(contest_games_path(game.contest, game)) do %>
                <div class="fixture-row-left"><%= game.team_a_name %>
                  <div><%= game.team_a_result %></div>
                </div>
                <div class="fixture-row-right">
                  <div><%= game.team_b_result %></div><%= game.team_b_name %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="sidebarbox">
      <% unless @comments.empty? %>
        <h3>Ultimos Comentarios</h3>
        <% @comments.reverse.each do |comment| %>
          <%= link_to(contest_games_path(comment.contest)) do %>
          <div>
            <strong><%= comment.user.name + "." + comment.user.last_name[0] %> dijo:</strong>
            <br />
            <p><%= comment.body %></p>
          </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
      <!-- SIDEBAR BOX -->
    </section>

