<h3><strong><%= @contest.name %></strong></h3>
<div class="row">
  <div class="small-12 medium-9 large-7 small-centered columns"><%= render 'form_entry' %></div>
</div>
<%= link_to 'Back', contests_path %>

<h3><strong>Your Results</strong></h3>

  <% @entries.each do |entry| %>
  <% result = @results.find{|result| result.id == entry.game_id} %>
    <div class="games row">
      <div class="small-5 columns">
        <div class="row">
          <div class="small-4 columns team-left">
            <p><%= entry.team_a_name %></p>
          </div>
          <div class="small-4 columns no-padding">
            <div class="row">
              <div class="small-4 columns">
                <p><%= entry.team_a_score %></p>
              </div>
              <div class="small-4 columns">
                <p>-</p>
              </div>
              <div class="small-4 columns">
                <p><%= entry.team_b_score %></p>
              </div>
            </div>
          </div>
          <div class="small-4 columns">
            <p><%= entry.team_b_name %></p>
          </div>
        </div>
      </div>
      <div class="small-5 columns">
        <% if result.team_a_result || result.team_b_result %>
          <div class="row">
            <div class="small-4 columns team-left">
              <p><%= result.team_a_name %></p>
            </div>
            <div class="small-4 columns no-padding">
              <div class="row">
                <div class="small-4 columns">
                  <p><%= result.team_a_result %></p>
                </div>
                <div class="small-4 columns">
                  <p>-</p>
                </div>
                <div class="small-4 columns">
                  <p><%= result.team_b_result %></p>
                </div>
              </div>
            </div>
            <div class="small-4 columns">
              <p><%= result.team_b_name %></p>
            </div>
          </div>
        <% else %>
          <p>Game is on <%= result.game_date.to_s(:short) %>, check after the game to see if you won!</p>
        <% end %>
      </div>
      <div class="small-2">
        <% if result.team_a_result == nil || result.team_b_result == nil %>
          <%= icon('', '', class: 'fa-3x') %>
        <% elsif entry.team_a_score == result.team_a_result && entry.team_b_score == result.team_b_result %>
          <%= icon('check-circle-o', '', class: 'fa-3x') %>
          <p>Correct!</p>
        <% elsif entry.team_a_score != result.team_a_result || entry.team_b_score != result.team_b_result %>
          <%= icon('times-circle-o', '', class: 'fa-3x') %>
          <p>Incorrect!</p>
        <% end %>
      </div>
    </div>
  <% end %>
