<section class="maincontainer">
  <!-- PAGE TITLE -->
  <div class="page-title">Fixtures</div>
  <!-- FEATURED IMAGE -->
  <div class="page-img">
      <img src="images/photos/featured.jpg" alt="" />
  </div>
  <!-- PAGE CONTAINER -->
  <section class="pagecontainer">
      <!--vertical Tabs-->
      <div id="verticalTab">
          <ul class="resp-tabs-list">
              <li>2013-2014</li>
              <li>2012-2013</li>
              <li>2011-2012</li>
              <li>2010-2011</li>
          </ul>
          <div class="resp-tabs-container">
              <div>
                  <div class="sidebarbox-title">
                      <h3>Fixture and Results / 2013-2014</h3>
                  </div>
              <!-- TABLE -->
              <div class="fixture-row">
                  <a href="#">
                      <div class="fixture-row-left">Consectetur FC
                          <div>?</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>?</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Fabulas FC
                          <div>1</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>4</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Vidisse FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Elit FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>4</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>1</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Domesticarum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Ullamco FC
                          <div>6</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Incididunt FC
                          <div>1</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>5</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Pariatur FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>1</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Mentitum FC</div>
                  </a>
              </div>
              </div>
              <div>
                  <div class="sidebarbox-title">
                      <h3>Fixture and Results / 2012-2013</h3>
                  </div>
              <!-- TABLE -->
              <div class="fixture-row">
                  <a href="#">
                      <div class="fixture-row-left">Elit FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>4</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>1</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Domesticarum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Consectetur FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Fabulas FC
                          <div>1</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>4</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Vidisse FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Ullamco FC
                          <div>6</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>0</div>Mentitum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Incididunt FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>5</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>2</div>Pariatur FC</div>
                  </a>
              </div>
              </div>
              <div>
                  <div class="sidebarbox-title">
                      <h3>Fixture and Results / 2011-2012</h3>
                  </div>
              <!-- TABLE -->
              <div class="fixture-row">
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>1</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Mentitum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Consectetur FC
                          <div>3</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Fabulas FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>4</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Vidisse FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Ullamco FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Incididunt FC
                          <div>1</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Elit FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>4</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>6</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Domesticarum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Pariatur FC</div>
                  </a>
              </div>
              </div>
              <div>
                  <div class="sidebarbox-title">
                      <h3>Fixture and Results / 2010-2011</h3>
                  </div>
              <!-- TABLE -->
              <div class="fixture-row">
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>4</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Vidisse FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Consectetur FC
                          <div>3</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>2</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Fabulas FC
                          <div>5</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Elit FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>4</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Incididunt FC
                          <div>3</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>5</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>2</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Pariatur FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>5</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Domesticarum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Ullamco FC
                          <div>6</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>1</div>Voluptate Cillum FC</div>
                  </a>
                  <a href="#">
                      <div class="fixture-row-left">Voluptate Cillum FC
                          <div>4</div>
                      </div>
                      <div class="fixture-row-right">
                          <div>3</div>Mentitum FC</div>
                  </a>
              </div>
              </div>
          </div>
      </div>
    <% unless @games.empty? %>
      <h3><strong><%= @contest.name %></strong></h3>
        <%= link_to 'Back', contests_path %>
        <div class="row">
        <div class="small-12 medium-9 large-7 small-centered columns"><%= render 'form_entry' %></div>
      </div>
    <% else %>
      <br>
      <br>
      <h3>There are no new games, please check again later</h3>
      <br>
      <br>
    <% end %>

    <hr>
    <br><br>

    <% unless @entries.empty? %>
      <div class="row">
        <div class="small-5 columns result">
          <h3><strong>Your Guess</strong></h3>
        </div>
        <div class="small-5 columns result">
          <h3><strong>Game Result</strong></h3>
        </div>
        <div class="small-2 columns result">
          <h3><strong>Points</strong></h3>
        </div>
      </div>
      <% @entries.each do |entry| %>
      <% result = @results.find{|result| result.id == entry.game_id} %>
        <div class="games row">
          <div class="small-5 columns result">
            <div>
              <p><%= entry.team_a_name %></p>
            </div>
            <div>
              <p><%= entry.team_a_score %></p>
              <p>-</p>
              <p><%= entry.team_b_score %></p>
            </div>
            <div>
              <p><%= entry.team_b_name %></p>
            </div>
            <div>
              <%= link_to 'Edit', edit_contest_entry_path(@contest, entry) %>
            </div>
          </div>
          <div class="small-5 columns result">
            <% if result.team_a_result || result.team_b_result %>
              <div>
                <p><%= result.team_a_name %></p>
              </div>
              <div>
                <p><%= result.team_a_result %></p>
                <p>-</p>
                <p><%= result.team_b_result %></p>
              </div>
              <div>
                <p><%= result.team_b_name %></p>
              </div>
            <% else %>
              <div class="no-result-text">
                <p>Game is on <%= result.game_date.to_s(:short) %>, check after the game to see if you won!</p>
              </div>
            <% end %>
          </div>
          <div class="small-2 result">
            <% if result.team_a_result == nil || result.team_b_result == nil %>
              <%= icon('ellipsis-h', '', class: 'fa-3x') %>
            <% elsif entry.team_a_score == result.team_a_result && entry.team_b_score == result.team_b_result %>
              <%= icon('check-circle-o', '', class: 'fa-3x') %>
              <p>Correct!</p>
            <% elsif entry.team_a_score != result.team_a_result || entry.team_b_score != result.team_b_result %>
              <%= icon('times-circle-o', '', class: 'fa-3x') %>
              <p>Incorrect!</p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</section>

