<section class="maincontainer">
  <!-- PAGE TITLE -->
  <div class="page-title"><%= @user.email.upcase %> - Tus Apuestas</div>
   <div class="grid plain-bg">
    <div class="unit">
      <table class="box-table">
        <thead>
          <tr>
            <th class="text-center">Grupo</th>
            <th colspan="5" class="text-center">Partido</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Resultado</th>
            <th class="text-center">Nro Para Sorteo</th>
          </tr>
        </thead>

        <tbody>
          <% unless @entries.empty? %>
            <% @entries.each do |entry| %>
              <tr>
                <td class="text-center"><%= entry.game.group.empty?? "-" : entry.game.group.upcase %></td>
                <td class="text-center"><%= entry.team_a_name %></td>
                <td class="text-right"><%= entry.team_a_score.nil? ? "?" : entry.team_a_score %></td>
                <td>-</td>
                <td><%= entry.team_b_score.nil? ? "?" : entry.team_b_score %></td>
                <td class="text-center"><%= entry.team_b_name %></td>
                <td class="text-center"><%= entry.game.game_date.strftime("%B %d, %Y @ %H:%M hs") %></td>
                <% if @winners_id.include?(entry.id) %>
                  <td class="correct text-center"><span class="correcto">Correcto!</span></td>
                  <td class="text-center"><%= @winners.where(:entry_id => entry.id).pluck(:raffle_number).first %></td>
                <% else %>
                  <% if entry.game.team_a_result.nil? || entry.game.team_b_result.nil? %>
                    <td class="text-center"> - </td>
                    <td class="text-center"> - </td>
                  <% else %>
                    <td class="incorrect text-center"><span class="incorrecto">Incorrecto</span></td>
                    <td class="text-center"> - </td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="9" class="text-center">
                No Ha Ingresado Ninguna Apuesta
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
