<section class="maincontainer">
  <!-- PAGE TITLE -->
  <div class="page-title"><%= @contest.name.upcase %> - Resultados</div>
   <div class="grid plain-bg">
    <div class="unit half">
      <table class="box-table">
        <thead>
          <tr>
            <th class="text-center">Grupo</th>
            <th colspan="5" class="text-center">Partido</th>
            <th class="text-center">Fecha</th>
          </tr>
        </thead>

        <tbody>
          <% unless @games.empty? %>
            <% @games.each do |game| %>
              <tr>
                <td class="text-center"><%= game.group.upcase %></td>
                <td class="text-center"><%= game.team_a_name %></td>
                <td class="text-right"><%= game.team_a_result.nil? ? "?" : game.team_a_result %></td>
                <td>-</td>
                <td><%= game.team_b_result.nil? ? "?" : game.team_b_result %></td>
                <td class="text-center"><%= game.team_b_name %></td>
                <td class="text-center"><%= game.game_date.strftime("%B %d, %Y @ %H:%M hs") %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="7" class="text-center">
                No Hay Ningun Resultado Disponible
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="unit half">
      <h3>Comentarios</h3>
      <%= render 'comments/form' %>
      <% unless @comments.empty? %>
        <% @comments.each do |comment| %>
          <div class="comments">
              <p class="meta">
                <a href="#"><%= comment.user.name + "." + comment.user.last_name[0] %></a> <span class="date">hace: <%= time_ago_in_words(comment.created_at) %></span>
              </p>
              <div class="comments_content">
                <p class="comment"><%= comment.body %></p>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
